@use "variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

%text-preset-1 {
  font-size: 1.5rem;
  line-height: 150%;
  font-weight: $font-weight-800;
  color: $gray-950;
}

%text-preset-2 {
  font-size: 1rem;
  line-height: 150%;
  font-weight: $font-weight-500;
  color: $gray-950;
}

%text-preset-3 {
  font-size: 0.875rem;
  line-height: 150%;
  font-weight: $font-weight-500;
  color: $gray-950;
}

%text-preset-3-bold {
  @extend %text-preset-3;

  font-weight: $font-weight-800;
}
